#VS Code files
.vscode/

#Compiled output
*/guessingGame/guessingGame
*/hangmanGame/hangman
*.out
*.o
Step2_advancing_the_lang/hangman-ws/hangman-ws/build-Debug

#Auto Generated makefile by CodeLite IDE
*.mk
*.codelite

#Build and Install directories
build/
install/
